#SearchButton{
	background-color: green; 
}
footer{
	background: #242122;
	color: #d5c1c1;
}
#HRfooter{
	background-color: #f00;
	height: 1px;
	border: 1px dashed #ccc;
}
#listeBaslik{
	color: #ffb849;
}
#bulunamadi{
	text-align: center;
	color: #000;
}
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nodecor:hover {
text-decoration: none;
}